/* main css styles */
body {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 1rem;
  height: 4000px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
  background-blend-mode: overlay;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 6%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 100vh;
}

/******* Home section styles *******/

/* Navbar styles */
.navbar-brand {
  color: #000;
  font-weight: 800;
  font-size: 20px;
}
.navbar-nav .nav-link {
  color: #000 !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #e86ed0 !important;
}
.sticky-nav {
  background-color: #fff;
}

/* Home caption styles */
.header {
  background-image: url('../images/bg_1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: 50% 0%;
  background-attachment: fixed;
}

.header h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.1;
  font-weight: 400;
}
.header p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
.form-control {
  font-size: 1.2rem;
  height: 70px;
}
.search-btn {
  border: none;
  right: 15px;
  font-size: 1.5rem;
  background-color: #e86ed0;
  border: none;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 0 50% 50% 50%;
}
.scroll {
  bottom: -12%;
  left: 0;
  right: 0;
  z-index: 2;
}
.scroll::after {
  content: '';
  position: absolute;
  transform: skewY(-4deg);
  background-color: #fff;
  width: 50%;
  height: 70px;
  right: 0;
  z-index: 1;
  bottom: 30px;
  overflow: visible;
}
.scroll::before {
  content: '';
  position: absolute;
  transform: skewY(4deg);
  background-color: #fff;
  width: 50%;
  height: 70px;
  left: 0;
  z-index: 1;
  bottom: 30px;
  overflow: visible;
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
}
.scrollBtn {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #e86ed0;
  z-index: 99;
}

.scrollBtn .arrowDown i {
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  color: #fff;
  line-height: 40px;
  font-size: 1.3rem;
  animation: down 2s infinite linear;
  -webkit-animation: down 2s infinite linear;
}
@keyframes down {
  0% {
    top: -10px;
  }
  100% {
    top: 20px;
  }
}
/*Media Query */
@media screen and (max-width: 992px) {
  .navbar {
    background-color: #000;
  }
  .navbar-brand {
    color: #fff !important;
  }
  .navbar .navbar-toggler {
    outline: none;
    border: none !important;
    color: rgba(255, 255, 255, 0.5);
  }
  .header h1 {
    font-size: 50px;
  }
}


/* start services */
.services{
  position: relative;
}
.services h6{
font-size: 12px;
}
.services .item i, .services h6{
  color: #e86ed0;
}
.services .item h5{
  font-weight: bold;
  
}
.services h6:before {
  position: absolute;
  top: 13%;
  left: 54.5%;
  content: '';
  width: 50px;
  height: 1px;
  background: #e86ed0;
}
.services h6:after {
  position: absolute;
  top: 13%;
  left: 42%;
  content: '';
  width: 50px;
  height: 1px;
  background: #e86ed0;
}
/* end services */


/* Blog Section  */

#blogSection{
  font-family:"Nunito Sans", Arial, sans-serif;
  width: 80%; 
  margin: auto;
}
#blogSection h2{
  font-size: 40px;
  font-weight: 600;
}
#blogSection .spanHeader{
color:#e86ed0;
font-size: 12px;
font-weight: 600;
letter-spacing: 2px;
position: relative;

}
#blogSection .spanHeader::before{
  content:"";
  width:50px;
  height:1px;
  position: absolute;
  top:50%;
  left:-55px;
  background-color:#e86ed0
}
#blogSection .spanHeader::after{
  content:"";
  width:50px;
  height:1px;
  position: absolute;
  top:50%;
  left:45px;
  background-color:#e86ed0
}

#blogSection h3 a{
  line-height: 1.6rem;
  font-size: 18px;
  font-weight: 400;
  color:#000
}
#blogSection h3 a:hover{
 text-decoration: none;
  color:#e86ed0
}

#blogSection .blogData a{
  letter-spacing: 1px;
  color:#b3b3b3;
  font-size: 12px;
  font-weight: 500;
}

#blogSection .blogData a:hover{
  text-decoration: none;
  color:#666
}
#blogSection p{
  color: #666;
  line-height: 1.8rem;
}

/*****Agent Section Style****/

 
.spanHeader
{
 display: inline-block;
 margin-bottom: 0;
 color: #e86ed0;
 font-size: 12px;
 font-weight: 600;
 letter-spacing: 2px;
 text-transform: uppercase;
 position: relative;
}

.spanHeader::before
{
 content:"";
 position: absolute;
 top: 50%;
 right: -60px; 
 transform: translateY(-50%);
 width: 50px;
 height: 1px;
 margin-top: -1px;
 background: #e86ed0;
}
.spanHeader::after{
 position: absolute;
top: 50%;
left: -60px;
content: '';

transform: translateY(-50%);
width: 50px;
height: 1px;
margin-top: -1px;
background: #e86ed0;
}
.headAgents
{
 font-size: 40px;
 font-weight: 600;

}
.agent
{ 
 
 position: relative;
 width: 100%;
 display: block;
 z-index: 0;
 margin-bottom: 40px;
 overflow: hidden;
}
img{
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
.agentImge img 
{
 position: relative;
 width: 100%;
 display: block;
 overflow: hidden;
 z-index: 0;
transition: transform 1s;
}
.agentImge img:hover
{
transform: scale(1.1);
}
.item-caption
{
 position: relative;

 padding: 20px;
 margin-top: -50px;
 margin-left: 18px;
 background: #fff;
 width: 85%;
}

.agentName
{
 color: #000000;
 font-weight: 500;
 line-height: 1.3;
 font-size: 20px;
 margin-bottom: 0.5rem;
font-family: inherit;
}
.listing
{
font-family: "Nunito Sans", Arial, sans-serif;
font-size: 16px;
line-height: 1.8;
font-weight: 400;
color: #666666;
}
/**End Agent Section**/